.home-background {
    background-color: #f5f5f5;
    background-image: url("/images/image.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

